DATABASE_URL=postgresql://constella_user:constella_user_password@localhost:5432/constelladb?schema=public
SHADOW_DATABASE_URL=postgresql://constella_user:constella_user_password@localhost:5432/shadow_constelladb?schema=public

JWT_SECRET=your_jwt_secret_here
PORT=3001

PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret
PRIVY_PUBLIC_KEY=your_privy_public_key